flet[all]
SQLAlchemy>=2.0
psycopg2-binary
bcrypt
reportlab
openpyxl
fastapi
uvicorn[standard]
python-dotenv

# Instalar dependencias directamente
pip install "flet[all]" "SQLAlchemy>=2.0" psycopg2-binary bcrypt reportlab openpyxl fastapi "uvicorn[standard]" python-dotenv
